:root {
  scroll-behavior: auto;
}

@font-face {
  font-family: "Quicksand";
  src: url("../../public/fonts/Quicksand.ttf") format("truetype");
}

.transitionSecondary {
  background-color: #d1a451;
}

body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background-color: #cfc3b4;
}

body::-webkit-scrollbar-thumb {
  background-color: #222222;
  /* border-radius: 10px; */
}

.thinScroll::-webkit-scrollbar {
  width: 5px;
}
.thinScroll::-webkit-scrollbar-track {
  background-color: #cfc3b4;
}

.thinScroll::-webkit-scrollbar-thumb {
  background-color: #222222;
  /* border-radius: 10px; */
}

html,
body {
  font-family: "Quicksand";
}
.hero {
  background-color: #cfc3b4;
  height: 100dvh;
}

.quicks-font {
  font-family: "Quicksand";
}

.expandText {
  letter-spacing: 1.4em;
}

.fadeIn {
  animation: 0.9s fadeIn ease-in-out forwards;
  animation-delay: 4s;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    scale: 1.5;
    opacity: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.scaleOut {
  animation: 6s scaleOut ease-in-out forwards;
}

@keyframes scaleOut {
  0% {
    scale: 0.5;
    opacity: 1;
    display: block;
  }
  90% {
    scale: 0.5;
    opacity: 1;
    display: block;
  }
  100% {
    scale: 0;
    opacity: 0;
    display: none;
  }
}

/* .heroImg {
  width: 100%;
  height: 60dvh;
  object-fit: cover;
  animation: 1s heroImg ease-in-out forwards;
  border-radius: 3em;
  animation-delay: 1s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@keyframes heroImg {
  0% {
    border-radius: 3em;
  }
  100% {
    border-radius: 0;
  }
} */

.h-font {
  height: 40dvh;
}

.h-font h6 {
  font-size: 7em;
  letter-spacing: 0.5em;
  animation: 0.5s spaceIn ease-in-out forwards;
  animation-delay: 1s;
  font-weight: 900;
  /* display: none; */
  opacity: 0.5;
}

@keyframes spaceIn {
  0% {
    display: block;
    opacity: 0.5;
    letter-spacing: 0.5em;
  }
  100% {
    display: block;
    opacity: 1;
    letter-spacing: 0.1em;
  }
}

.bg-black {
  background-color: black;
}

.bg-dark {
  background: #222222 !important;
}
.border-dark {
  border-color: #222222 !important;
}
.text-primary {
  color: #cfc3b4 !important;
}

.bg-primary {
  background-color: #cfc3b4 !important;
  transition: all 0.3s ease-in;
}

.bg-primary.transitionSecondary {
  background-color: #d1a451 !important;
}
.bg-primary.transitionTertary {
  background-color: #222222 !important;
}

.bg-secondary {
  background-color: #d1a451 !important;
}

.txtSecondary {
  color: #d1a451 !important;
}

.float {
  animation: 2s floating ease-in-out infinite;
}
@keyframes floating {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}

.noFocus:focus {
  outline: 0;
  box-shadow: none !important;
}

/* NavFullScreen */
.menu-button {
  transition: 0.5s ease;
  cursor: pointer;
  height: fit-content;
  overflow: hidden;
  position: relative;
  width: fit-content;
  text-decoration: none;
}

.menu-button:hover span:nth-child(1) {
  transform: translateY(-100%);
}
.menu-button:hover span:nth-child(2) {
  transform: translateY(-100%);
}

.menu-button span:nth-child(2) {
  position: absolute;
}
.menu-button span {
  display: block;
  transition: 0.75s transform cubic-bezier(0.19, 1, 0.22, 1);
}
.menu-text {
  font-family: "Quicksand";

  font-size: 5.5vw;
  margin: 0;
  color: #222222;
  text-transform: uppercase;
}

/* Gallery */
/* General styles for .gal-image-half and .gal-image-full */
.gal-image-half {
  border-radius: 100%;
  height: 22dvh;
  aspect-ratio: 1;
  object-fit: cover;
  margin: 0.2em;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  opacity: 1; /* Default opacity */
}

.gal-image-full {
  border-radius: 100%;
  height: 50dvh;
  object-fit: cover;
  aspect-ratio: 1;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  opacity: 1; /* Default opacity */
}

/* On hover, the specific image will scale and adjust border radius */
.gal-image-half:hover {
  border-radius: 10%;
  scale: 1.2;
}

.gal-image-full:hover {
  border-radius: 10%;
  scale: 1.1;
}

.slim-scroll2::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.slim-scroll2::-webkit-scrollbar-track {
  background-color: rgba(99, 90, 90, 0.158);
}

.slim-scroll2::-webkit-scrollbar-thumb {
  background-color: #222222;
  border-radius: 10px;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.froggy {
  scale: 1;
  transform: rotateY(180deg);
}

.log1 {
  opacity: 0.8;
  height: 30dvh;
  position: absolute;
  left: -5%;
  z-index: 2;
}
.log2 {
  opacity: 0.8;
  height: 30dvh;
  position: absolute;
  left: 25%;
  bottom: 0;
  z-index: 2;
}
.log3 {
  opacity: 0.8;
  height: 30dvh;
  position: absolute;
  left: 60%;
  z-index: 2;
}
.log4 {
  opacity: 0.8;
  height: 30dvh;
  position: absolute;
  left: 90%;
  bottom: 0;
  z-index: 2;
}

/* animation  */

.frog-sleeping {
  /* border-radius: 100%; */
  width: 200px;
  overflow: hidden;

  height: 200px;

  display: flex;
  align-items: center;
}

.sleeping {
  height: 2em;
  position: absolute;
  z-index: 99999;
  right: 28%;
  top: 40%;
  display: block;

  animation: 2s fadeinout ease-in-out infinite;
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.help {
  height: 60%;
  position: absolute;
  z-index: 99999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  opacity: 0;
  animation: 0.5s opacityIN 1s ease-in forwards;
}

@keyframes opacityIN {
  0% {
    height: 60%;
    opacity: 0;
  }
  100% {
    height: 80%;
    opacity: 1;
  }
}

.wrapper-help {
  position: fixed;
  z-index: 9999;
  right: 0%;
  bottom: 0%;
  scale: 0.8;
  cursor: pointer;
  transition: all 0.2s ease-out 1s;
  border-radius: 2em;
  border: 1px solid #222222;
  overflow: hidden;
}

.transiton-scaledown {
  scale: 0.5;
}

.hlptext {
  position: absolute;
  z-index: 99999;
  left: 50%;
  font-weight: 700;
  width: 100%;
  top: 10%;
  transform: translateX(-50%);
}
