.help-form {
  position: fixed;
  bottom: 20%;
  right: 3%;
  border-radius: 2em;
  z-index: 999999;
  border: 1px solid #222222;
}

.help-form button,
.help-form input {
  border-radius: 1.8em;
  border: 1px solid #222222;
}

.help-form textarea {
  border-radius: 0.8em;
  border: 1px solid #222222;
}
